#logo= image_tag "logo3.png", :width => 150
#g-nav
  %ul
    %li
      %a{:href =>"#", :id => "home"}
        = image_tag "icons/home.png"
        %span 首页
    %li
      %a{:href =>"#", :id => "event"}
        = image_tag "icons/event.png"
        %span 活动资讯
    %li
      %a{:href =>"#", :id => "chao"}
        = image_tag "icons/chao.png"
        %span 潮人地带
    %li
      %a{:href =>"#", :id => "nav"}
        = image_tag "icons/nav.png"
        %span 购物导航
    %li
      %a{:href =>"#", :id => "member"}
        = image_tag "icons/member.png"
        %span 会员私享
    %li
      %a{:href =>"#", :id => "business"}
        = image_tag "icons/business.png"
        %span 商业合作
    %li
      %a{:href =>"#", :id => "service"}
        = image_tag "icons/service.png"
        %span 在线服务
#footer
  
